.container1 {
  height: 100vh;
  width: 100vw;
  max-height: 800px;
  max-width: 1280px;
  min-height: 100px;
  min-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.base {
  position: relative;
  width: 580px;
  height: 50px;
  min-width: 580px;
  max-width: 580px;
  min-height: 50px;
  max-height: 50px;
  background: #292e3e;
  border-radius: 5px;
  display: flex;
  text-align: left;
  align-items: center;
  color: rgb(191, 199, 213);
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}

.scanner {
  height: 30px;
  width: 15px;
  position: absolute;
  top: 10;
  left: 10px;
}

.font1 {
  margin-left: 30px;
  min-width: 395px;
}

button1 {
  position: absolute;
  cursor: pointer;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  right: 40px;
  width: 60px;
  color: rgb(191, 199, 213);
  box-shadow: 1px 1px 2px rgba(163, 177, 198, 0.6),
    -1px -1px 2px rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 2px;
  padding: 5px;
  background: #292e3e;

  &:focus {
    outline: none;
  }

  &:active {
    outline: none;
  }
}
