
#particles-js {
  position: absolute;
  height: 100%;
  width: 100%;
}

.text-p {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 300px;
  top: calc(50% - 100px);
  left: calc(50% - 150px);
}

.img-p {
  display: inline-block;
  height: 100px;
  z-index: 100;
}
